/* General Styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(12, 7, 1);
    background-color: rgb(251, 248, 244);
    text-align: justify;
}

a,
a:visited,
a:active {
    color: rgb(12, 7, 1);
    text-decoration: none;
}

.flex-container {
    display: flex;
    gap: 1em;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-header {
    min-width: 30%;
}

.center {
    margin: 0 auto;
}

.width-100 {
    width: 100%;
}

.underline-border {
    border-bottom: 1px solid rgb(12, 7, 1);
}

.list-circle {
    list-style-type: circle;
}

p {
    align-self: center;
}

ul li {
    margin: 0.5em 0;
    padding-left: 1em;
}


h1 {
    margin-top: 0;

}

h2 {
    margin-bottom: 4rem;
    font-size: 2.2rem;
}

h3 {
    font-size: 1.3rem;
}

/* Header styles */

header {
    margin-bottom: 3rem;
}

header p {
    margin-left: 2rem;
}

.navigation {
    margin-left: auto;
    margin-right: 2rem;
}

.navigation ul li {
    display: inline;
    padding: 0 1rem;
    border-right: 1px solid rgb(12, 7, 1);
}


.navigation ul li:last-child {
    border-right: none;
}

/* Main styles */

main {
    margin: 6rem;
}

/* Section "About me" styles */

.aboutme img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(196, 192, 186);
}

.aboutme h1 {
    padding-left: 2em;
}

/* Section "Resume" styles */

.resume.flex-container {
    padding: 1rem 0;
}

.flex-container-header.date {
    font-weight: 100;
}

/* Footer styles */

footer {
    justify-content: space-between;
}

.contact {
    margin: 0 2rem;
}

footer a {
    align-self: center;
}

footer a img {
    width: 25px;
    height: 25px;
    padding-left: 1rem;
}

/* Responsive styles */

@media only screen and (max-width:800px) {
    html {
        font-size: 14px;
    }

    main {
        margin: 3rem;
    }
}

@media only screen and (max-width:500px) {
    html {
        font-size: 12px;
    }

    main {
        margin: 1.5rem;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    h1 {
        align-self: center;
    }

    h2 {
        margin-bottom: 2rem;
    }

    ul {
        padding: 0 1em;
    }

    .navigation {
        margin: 0 auto;
    }

    .aboutme.flex-container {
        display: flex;
        flex-direction: column-reverse;
    }

    footer {
        align-items: center;
    }

    .contact.flex-container {
        flex-direction: row;
    }

    .fix.flex-container {
        flex-direction: row;
    }

    .fix .flex-container-header {
        width: 30%;
    }

}