/* General Styles */

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(12, 7, 1);
    background-color: rgb(251, 248, 244);
    text-align: justify;
}

a,
a:visited,
a:active {
    color: rgb(12, 7, 1);
    text-decoration: none;
}

.flex-container {
    display: flex;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-header {
    min-width: 30%;
}

.center {
    margin: 0 auto;
}

.width-100 {
    width: 100%;
}

.underline-border {
    border-bottom: 1px solid rgb(12, 7, 1);
}

.list-circle {
    list-style-type: circle;
}

p {
    align-self: center;
}

ul li {
    margin: 0.5em 0;
    padding-left: 1em;
}



/* Header styles */

header {
    margin-bottom: 1rem;
}

header p {
    margin-left: 2rem;
}

.navigation {
    margin-left: auto;
    margin-right: 2rem;
}

.navigation ul li {
    display: inline;
    padding: 0 1rem;
    border-right: 1px solid rgb(12, 7, 1);
}

.navigation ul li:last-child {
    border-right: none;
}

h2 {
    margin-left: 2rem;
}

/* Main styles */

/* Section "About me" styles */

.aboutme.flex-container {
    max-width: 1000px;
}

.aboutme.flex-container-item {
    padding: 2rem;
}

.aboutme img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(196, 192, 186);
}

.aboutme h1 {
    padding-left: 2em;
}

/* Section "Resume" styles */

#resume {
    display: none;
}

.resume.flex-container-column {
    margin: 0 2rem;
}

.resume.flex-container {
    padding: 1rem 0;
}

.flex-container-header.date {
    font-weight: 100;
}

/* Footer styles */

footer {
    justify-content: space-between;
}

.contact {
    margin: 0 2rem;
}

footer a {
    align-self: center;
}

footer a img {
    width: 25px;
    height: 25px;
    padding-left: 1rem;
}